body {
  font-family: sans-serif;
  font-family: 'Istok Web', sans-serif;
  font-family: 'Lato', sans-serif;
  overflow: scroll;
}

body {
  color: #555;
}

a {
  color: #5C3D3B;
  cursor: pointer;
}

:not(.selected) a:hover {
  color: #600;  
}

.page_container {
  position: relative;
  width: 1110px;
  margin: 120px auto 0;
}

.contact {
  text-transform: uppercase;
  text-align: right;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  top: -40px;
  right: 0;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
  .home .contact {
    right: 160px;
  }
.contact a {
  text-decoration: none;
  margin-left: 20px;
}