body {
  font-family: 'Montserrat', sans-serif;
  overflow: scroll;
}

body {
  color: #555;
}

a {
  color: #5C3D3B;
  cursor: pointer;
}

.hidden {
  display: none;
}

:not(.selected) a:hover {
  color: #600;  
}

.page_container {
  position: relative;
  width: 1110px;
  margin: 120px auto 0;
  -webkit-transition: 0.4s ease-out;
     -moz-transition: 0.4s ease-out;
      -ms-transition: 0.4s ease-out;
       -o-transition: 0.4s ease-out;
          transition: 0.4s ease-out;
}

#lightbox {
  background: rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100000px;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out, left 0.001s 0.4s;
     -moz-transition: opacity 0.4s ease-out, left 0.001s 0.4s;
      -ms-transition: opacity 0.4s ease-out, left 0.001s 0.4s;
       -o-transition: opacity 0.4s ease-out, left 0.001s 0.4s;
          transition: opacity 0.4s ease-out, left 0.001s 0.4s;
}
  #lightbox.active {
    opacity: 1;
    left: 0;
    -webkit-transition: opacity 0.4s ease-out 0.01s, left 0.001s;
       -moz-transition: opacity 0.4s ease-out 0.01s, left 0.001s;
        -ms-transition: opacity 0.4s ease-out 0.01s, left 0.001s;
         -o-transition: opacity 0.4s ease-out 0.01s, left 0.001s;
            transition: opacity 0.4s ease-out 0.01s, left 0.001s;
  }

.wf-loading .page_container {
  opacity: 0;
}

.contact {
  text-transform: uppercase;
  text-align: right;
  font-size: 15px;

}
  .home .contact {
    right: 297px;
    top: -127px;
  }
.contact a {
  text-decoration: none;
  margin-left: 20px;

  position: absolute;

  -webkit-transition: 0.4s ease-out;
     -moz-transition: 0.4s ease-out;
      -ms-transition: 0.4s ease-out;
       -o-transition: 0.4s ease-out;
          transition: 0.4s ease-out;
  z-index: 4;
}
  .contact a:hover {
    color: #f33;
  }

.contact .about_us {
  top: 71px;
  left: -122255px;
  -webkit-transition: 0.3s opacity, 0.01s left 0.3s;
     -moz-transition: 0.3s opacity, 0.01s left 0.3s;
      -ms-transition: 0.3s opacity, 0.01s left 0.3s;
       -o-transition: 0.3s opacity, 0.01s left 0.3s;
          transition: 0.3s opacity, 0.01s left 0.3s;
}
  .home .contact .about_us {
    left: 255px;
  }
.contact .booking {
  top: -51px;
  right: 215px;
}
  .home .contact .booking {
    top: 534px;
    right: 215px;
  }

.contact .phone {
  top: -51px;
  right: 88px;
}
  .home .contact .phone {
    top: 557px;
    right: 253px;
  }

.contact .paint_toggle {
  width: 75px;
  height: 75px;
  background: url('../images/paint_toggle.png');
  background-position: -75px 0;
  cursor: pointer;
  background-size: 150px 75px;
  border: none;
  z-index: 200;
  right: -17px;
  left: auto;
  top: -79px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}
  .paint_toggle:hover {
    opacity: 0.8;
  }
  .disable_paint .paint_toggle {
    background-position: 0 0;
  }

.contact .fb_link {
  overflow: hidden;
  width: 22px;
  height: 22px;
  background: url(../images/fb_link.png);
  display: inline-block;
  color: rgba(0,0,0,0);
  background-size: 22px 22px;
  position: absolute;
  top: -53px;
  right: 48px;
}
  .contact .fb_link:hover {
    color: rgba(0,0,0,0);
    opacity: 0.8;
  }