body {
  font-family: 'Montserrat', sans-serif;
  overflow: scroll;
}

body {
  color: #555;
}

a {
  color: #5C3D3B;
  cursor: pointer;
}

.hidden {
  display: none;
}

:not(.selected) a:hover {
  color: #600;  
}

.page_container {
  position: relative;
  width: 1110px;
  margin: 120px auto 0;
  -webkit-transition: 0.4s ease-out;
     -moz-transition: 0.4s ease-out;
      -ms-transition: 0.4s ease-out;
       -o-transition: 0.4s ease-out;
          transition: 0.4s ease-out;
}

.wf-loading .page_container {
  opacity: 0;
}

.paint_toggle {
  width: 75px;
  height: 75px;
  background: url('../images/paint_toggle.png');
  cursor: pointer;
  background-size: 150px 75px;
  border: none;
  position: relative;
  top: 32px;
  z-index: 200;
  right: 0;
  display: inline-block;
  left: -28px;

  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
  .paint_toggle:hover {
    opacity: 0.8;
  }
  .disable_paint .paint_toggle {
    background-position: -75px 0;
  }

.contact {
  text-transform: uppercase;
  text-align: right;
  position: relative;
  font-size: 15px;

  top: -108px;
  right: -50px;

  -webkit-transition: 0.4s ease-out;
     -moz-transition: 0.4s ease-out;
      -ms-transition: 0.4s ease-out;
       -o-transition: 0.4s ease-out;
          transition: 0.4s ease-out;
  z-index: 4;
}
  .home .contact {
    right: 297px;
    top: -127px;
  }
.contact a {
  text-decoration: none;
  margin-left: 20px;
}
  .contact a:hover {
    color: #f33;
  }

.fb_link {
  overflow: hidden;
  width: 22px;
  height: 22px;
  background: url(../images/fb_link.png);
  display: inline-block;
  color: rgba(0,0,0,0);
  background-size: 22px 22px;
  position: relative;
  top: 6px;
}
  .contact .fb_link:hover {
    color: rgba(0,0,0,0);
    opacity: 0.8;
  }